.png-title {
  display: flex;
  color: #000000;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.png-image {
  display: "block";
  width: "75%";
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
