@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
} */
.myForm {
  width: 50%;

  margin: 0 auto;
  padding: 10px;
  background: #81a1d0;

  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.textarea {
  width: 70%;

  color: #473b3b;
  font-size: 25px;

  background: transparent;
  background-color: rgb(197, 205, 225);
  border-radius: 10px;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
  transition: 0.5;
}
.sbtn {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
  transition: 0.5;
}
.sbtn:hover {
  background: rgb(46, 45, 45);
}

form img {
  width: 30px;
  height: 30px;
}
